{% extends "layout.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/favicon.png') }}" width="125" height="93.75" class="d-inline-block align-top">
            </a>
            <div class="d-flex">
                <h1 class="text-center">
                    Admin
                </h1>
            </div>
        </div>
    </nav>

    <div class="container">
        {% for message in get_flashed_messages() %}
            {% if message.endswith('creato.') %}
                <div class="flash"><p class="alert alert-success" style="text-align: center;">{{ message }}</p></div>
            {% else %}
                <div class="flash"><p class="alert alert-danger" style="text-align: center;">{{ message }}</p></div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="new_container">
        <form method="post" action="{{ url_for('admin.panel') }}">
            <label for="mail"><b>Mail</b></label>
            <input class="form-control" type="text" name="mail" autocomplete="off">

            <label for="password"><b>Password</b></label>
            <input class="form-control" type="text" name="password" value="">

            <label for="perms"><b>Perms</b></label>
            <select name="perms" id="perms">
                <option value="ADMIN">Admin</option>
                <option value="POLICE">Police</option>
                <option value="USER">User</option>
            </select>

            <div class="d-grid gap-2 mx-auto" style="padding-top: 8px;">
                <button class="btn btn-success" type="submit" name="register-user">Register</button>
            </div>
        </form>
    </div>

    <div class="" style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px; width:100%;">
        <p style="padding-top: 10px;">
            <a class="btn button_user btn-primary shadow-none" data-bs-toggle="collapse" href="#collapse_users" role="button" aria-expanded="false" aria-controls="collapse_users">
                User list
            </a>
        </p>
        <div class="collapse" id="collapse_users">
            <div class="card card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Perms</th>
                        <th scope="col">Actions</th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in users %}
                        <tr>
                            <th scope="row">{{ d.id }}</th>
                            <td>{{ d.mail }}</td>
                            {% if d.perms is defined %}
                                {% if d.perms == 1 %}
                                    <td>Admin</td>
                                {% else %}
                                    <td>Police</td>
                                {% endif %}
                            {% else %}
                                <td>Utente</td>
                            {% endif %}
                            <td>
                                <form method="post" action="{{ url_for('admin.panel') }}">
                                    <input type="hidden" name="deleteUser" value="">
                                    {% if d.perms is defined %}
                                        {% set user_perms = 1 %}
                                    {% else %}
                                        {% set user_perms = -1 %}
                                    {% endif %}
                                    <input type="hidden" name="valueUser" value="{{ user_perms }}">
                                    {% if d.mail == user.mail %}
                                        {% set b1_value = 'disabled' %}
                                    {% else %}
                                        {% set b1_value = '' %}
                                    {% endif %}
                                    <button type="button" {{ b1_value }} class="btn btn-danger shadow-none" data-bs-toggle="modal" data-bs-target="#deletePage{{ d.mail|replace("@", "--")|replace(".", "-") }}">
                                        Delete
                                    </button>
                                    <div class="modal fade" id="deletePage{{ d.mail|replace("@", "--")|replace(".", "-") }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Delete User form</h5>
                                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Sei sicurx di voler eliminare questo account? Questo processo non può essere fermato.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" name="button" value="{{ d.mail }}" class="btn btn-danger shadow-none">
                                                        Confirm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td>
                                {% if d.perms is not defined %}
                                    {% if shipments['mail'] is not none and d.mail == shipments['mail'] %}
                                        <button type="button" class="btn btn-primary shadow-none" data-bs-toggle="modal" data-bs-target="#viewShipments{{ d.mail|replace("@", "--")|replace(".", "-") }}">
                                            View
                                        </button>
                                    {% else %}
                                        <a class="btn btn-primary" href="{{ url_for('admin.panel', mail=d.mail) }}" role="button">View</a>
                                    {% endif %}
                                    <div class="modal fade" id="viewShipments{{ d.mail|replace("@", "--")|replace(".", "-") }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">View User Shipments</h5>
                                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {% if shipments['mail'] == d.mail %}
                                                        <input id="shipments_list" type="hidden">
                                                        {% if shipments['list']|length %}
                                                            <div class="table-responsive">
                                                                <table class="table table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th scope="col">ID</th>
                                                                    <th scope="col">Data inizio spedizione</th>
                                                                    <th scope="col">Date fine spodizione</th>
                                                                    <th scope="col">Partenza</th>
                                                                    <th scope="col">Arrivo</th>
                                                                    <th scope="col">Tipo di merce</th>
                                                                    <th scope="col">Peso (Kg)</th>
                                                                    <th scope="col">Status</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for i in shipments['list'] %}
                                                                        <tr>
                                                                            <th scope="row">{{ i.id }}</th>
                                                                            <td>{{ i.start_date.strftime('%d/%m/%Y') }}</td>
                                                                            <td>{{ i.end_date.strftime('%d/%m/%Y') }}</td>
                                                                            <td>{{ i.start_location }}</td>
                                                                            <td>{{ i.end_location }}</td>
                                                                            <td>{{ i.goods_type }}</td>
                                                                            <td>{{ i.goods_weight }}</td>
                                                                            <td>
                                                                                <form method="POST" action="{{ url_for('admin.panel') }}">
                                                                                    <input name="editShipment" type="hidden" value="">
                                                                                    <input name="shipmentStatus" type="hidden" value="{{ i.status }}">
                                                                                    {% if i.status  == 0 %}
                                                                                        {% set b2_text, b2_value = 'Attiva', '' %}
                                                                                    {% else %}
                                                                                        {% if i.start_date <= current_date <= i.end_date %}
                                                                                            {% set b2_text, b2_value = 'In corso', 'disabled' %}
                                                                                        {% elif  current_date < i.start_date %}
                                                                                                {% set b2_text, b2_value = 'Non ancora iniziata', 'disabled' %}
                                                                                        {% else %}
                                                                                            {% set b2_text, b2_value = 'Finita', 'disabled' %}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                    <button type="button" {{ b2_value }} class="btn btn-danger shadow-none" data-bs-toggle="modal" data-bs-target="#editShipment{{ i.id }}">
                                                                                        {{ b2_text }}
                                                                                    </button>
                                                                                    <div class="modal fade" id="editShipment{{ i.id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                                                                        <div class="modal-dialog">
                                                                                            <div class="modal-content">
                                                                                                <div class="modal-header">
                                                                                                    <h5 class="modal-title" id="ModalLabel">Edit Shipment form</h5>
                                                                                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                                </div>
                                                                                                <div class="modal-body">Sei sicurx di voler modificare questa spedizione? Questo processo non può essere fermato.</div>
                                                                                                <div class="modal-footer">
                                                                                                    <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">
                                                                                                        Close
                                                                                                    </button>
                                                                                                    <button type="submit" name="button" value="{{ i.id }} {{ d.mail }} {{ i.license_plate }}" class="btn btn-danger shadow-none">
                                                                                                        Confirm
                                                                                                    </button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                                </table>
                                                            </div>
                                                        {% else %}
                                                            Questa persona non ha ancora spedito nulla
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <button type="button" disabled class="btn btn-primary shadow-none">
                                        View
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename="js/panel/modalVisualizer.js") }}"></script>
    <script>
        (function () {
            loadUser("{{ shipments["mail"]|replace("@", "--")|replace(".", "-") }}")
        })();
    </script>
{% endblock %}