{% extends "layout.html" %}
{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form method="post" class="box">
                        <h1>TBA</h1>
                        <p class="text-muted">Login</p>
                        <input type="text" name="mail" placeholder="Mail" autocomplete="off">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" name="button">Login</button>
                        {% for message in get_flashed_messages() %}
                            <div class="flash"><p class="alert alert-danger">{{ message }}</p></div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}