{% extends "layout.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/index.css") }}">
{% endblock %}

{% block content %}
    <section class="contact-clean">
        <form novalidate id="method-request" method="post">
            <h2 class="text-center">Cerco ragazza</h2>
            <div class="mb-3">
                <input class="form-control" type="text" name="id" placeholder="ID" autocomplete="off">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="start" placeholder="Da dove parti" autocomplete="off">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="arrive" placeholder="Dove vuoi andare" autocomplete="off">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="mail" placeholder="Email" autocomplete="off">
            </div>
            <div class="mb-3">
                {% for message in get_flashed_messages() %}
                    {% if message.startswith('You') %}
                        <div class="flash"><p class="alert alert-danger">{{ message }}</p></div>
                    {% else %}
                        <div class="flash"><p class="alert alert-success">{{ message }}</p></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">send </button>
            </div>
        </form>
    </section>
{% endblock %}