{% extends "layout.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/panel.css') }}">
{% endblock %}

{% block content %}
    <div style="background-color:#e5e5e5;padding:15px;text-align:center;">
        <h1>Admin page</h1>
    </div>

    <div class="container">
        {% for message in get_flashed_messages() %}
            {% if message.endswith('correctly registered') %}
                <div class="flash"><p class="alert alert-success" style="text-align: center;">{{ message }}</p></div>
            {% else %}
                <div class="flash"><p class="alert alert-danger" style="text-align: center;">{{ message }}</p></div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="new_container">
        <form method="post" action="{{ url_for('auth.panel') }}">
            <label for="username"><b>username</b></label>
            <input class="form-control" type="text" name="username" autocomplete="off">

            <label for="password"><b>Password</b></label>
            <input type="text" name="password" value="">

            <label for="perms"><b>Perms</b></label>
            <select name="perms" id="perms">
                <option value="ADMIN">Admin</option>
                <option value="POLICE">Police</option>
                <option value="USER">User</option>
            </select>

            <div class="">
                <button type="submit" class="signupbtn" name="register-user">Register</button>
                {#                <br>#}
                {#                {% if data is not none %}#}
                {#                    <img src="{{ qrcode(data) }}" alt="">#}
                {#                {% endif %}#}
            </div>
        </form>
    </div>

    <div class="" style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px; width:100%;">
        <p style="padding-top: 10px;">
            <a class="btn button_user btn-primary shadow-none" data-bs-toggle="collapse" href="#collapse_users" role="button" aria-expanded="false" aria-controls="collapse_users">
                User list
            </a>
        </p>
        <div class="collapse" id="collapse_users">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Perms</th>
                        <th scope="col">Actions</th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in users %}
                        <tr>
                            <th scope="row">{{ d.id }}</th>
                            <td>{{ d.username }}</td>
                            {% if d.perms is defined %}
                                {% if d.perms == 1 %}
                                    <td>Admin</td>
                                {% else %}
                                    <td>Police</td>
                                {% endif %}
                            {% else %}
                                <td>Utente</td>
                            {% endif %}
                            <td>
                                <form method="post" action="{{ url_for('auth.panel') }}">
                                    <input type="hidden" name="deleteUser" value="">
                                    {% if d.perms is defined %}
                                        {% set perms = 1 %}
                                    {% else %}
                                        {% set perms = -1 %}
                                    {% endif %}
                                    <input type="hidden" name="valueUser" value="{{ perms }}">
                                    {% if d.username == user.username %}
                                        {% set value = 'disabled' %}
                                    {% else %}
                                        {% set value = '' %}
                                    {% endif %}
                                    <button type="button" {{ value }} class="btn btn-danger shadow-none" data-bs-toggle="modal" data-bs-target="#deletePage{{ d.username }}">
                                        Delete
                                    </button>
                                    <div class="modal fade" id="deletePage{{ d.username }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Delete User form</h5>
                                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete this account? This process cannot be
                                                    undone.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" name="button" value="{{ d.username }}" class="btn btn-danger shadow-none">
                                                        Delete confirmation
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td>
                                {% if d.perms is not defined %}
                                    {% if shipments['username'] is not none and d.username == shipments['username'] %}
                                        <button type="button" class="btn btn-primary shadow-none" data-bs-toggle="modal" data-bs-target="#viewShipments{{ d.username }}">
                                            View
                                        </button>
                                    {% else %}
                                        <a class="btn btn-primary" href="{{ url_for('auth.panel', username=d.username) }}" role="button">View</a>
                                    {% endif %}
                                    <div class="modal fade" id="viewShipments{{ d.username }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">View User Shipments</h5>
                                                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {% if shipments['username'] == d.username %}
                                                        <table class="table table-hover" id="shipments_list">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">id</th>
                                                            <th scope="col">Username</th>
                                                            <th scope="col">Perms</th>
                                                            <th scope="col">Actions</th>
                                                            <th scope="col">View</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for i in shipments['list'] %}
                                                                <tr>
                                                                    <th scope="row">{{ i.x }}</th>
                                                                    <td>{{ i.y }}</td>
                                                                    <td>{{ i.z }}</td>
                                                                    <td>{{ i.d }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        </table>
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <button type="button" disabled class="btn btn-primary shadow-none">
                                        View
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" defer>
        window.onload = () => {
            if(document.getElementById('shipments_list') !== null) {
                $('#collapse_users').collapse('show');
                $(`#viewShipments${"{{ shipments["username"] }}"}`).modal('show');
            }
        }
    </script>
{% endblock %}