{% extends "layout.html" %}
{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-box">
            <div class="box-header">
                <h2>Log In</h2>
            </div>
            <form method="post">
                <div style="padding: 10px;">
                    <label for="username">Email</label>
                    <br/>
                    <input type="text" name="mail" placeholder="Mail" id="username" style="width: 100%;">
                    <br/>
                    <label for="password">Password</label>
                    <br/>
                    <input type="password" name="password" placeholder="Password" id="password" style="width: 100%;">
                    <br/>
                    <button type="submit">Sign In</button>
                    <br>
                    <br>
                    {% for message in get_flashed_messages() %}
                        <div class="flash"><p class="alert alert-danger">{{ message }}</p></div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}